 {
  box-sizing: border-box;
  outline: none;
}

/* Sublime monokai theme 
Background: (46, 46, 46); #2e2e2e
Comments: (121, 121, 121); #797979
White: (214, 214, 214); #d6d6d6
Yellow: (229, 181, 103); #e5b567
Green: (180, 210, 115); #b4d273
Orange: (232, 125, 62); #e87d3e
Purple: (158, 134, 200); #9e86c8
Pink: (176, 82, 121); #b05279
Blue: (108, 153, 187); #6c99bb */

/* Center the list */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2e2e2e;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

.App {
  width: 500px;
  border-radius: 9px;
  border: 1px solid #e7ecfb;
  box-shadow: 0 0 30px rgba(211, 220, 248, 0.3);
  padding: 30px;
  color: #fafafa;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

h2 {
  font-size: 18px;
  margin-top: 2rem;
}

label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 0.5rem;
  display: inline-block;
}
input {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 9px;
  padding: 12px 60px 12px 18px;
  background: #aa647b;
  border-radius: 9px;
  border: 1px solid #e7ecfb;
  box-shadow: 0 0 30px rgba(211, 220, 248, 0.3);
}

li {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 20px;
  margin: 1rem 0;
}

li > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

li > button {
  text-transform: uppercase;
  background-color: #388e3c;
  color: #d3d3d3;
  display: block;
  position: relative;
  margin-left: 1em;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 0 1.5rem;
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  border-radius: 9px;
  box-shadow: 0 0 30px rgba(211, 220, 248, 0.3);
}
